-- Support Staff table
CREATE TABLE public.support_staff (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  name TEXT NOT NULL,
  role TEXT NOT NULL,
  image_url TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);
ALTER TABLE public.support_staff ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Support staff are publicly readable" ON public.support_staff FOR SELECT USING (true);
CREATE POLICY "Admins can insert support staff" ON public.support_staff FOR INSERT TO authenticated WITH CHECK (public.has_role(auth.uid(), 'admin'));
CREATE POLICY "Admins can update support staff" ON public.support_staff FOR UPDATE TO authenticated USING (public.has_role(auth.uid(), 'admin'));
CREATE POLICY "Admins can delete support staff" ON public.support_staff FOR DELETE TO authenticated USING (public.has_role(auth.uid(), 'admin'));
